/* MAIN PAGE  */
.wrapper {
    position: relative;
    width: 70vw;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.container-1 {
    width: 45vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #272F4A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}
.container-2 {
    width: 45vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #1D2237;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}
.container-3 {
    width: 45vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #100F1C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}
.container-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 0 10px;
    gap: 20px;
    margin-top: -6px;
}
.wrapper i {
    color: #ffffff56;
    font-size: 3rem;
    text-align: left;
    /* margin-left: 15px; */
    margin-top: 10px;
}
span.num {
    color: #ffffff;
    display: grid;
    /* right: 10rem; */
    place-items: center;
    margin-top: 10px;
    margin-right: 6px;
    font-weight: 600;
    font-size: 2.5em;
}
span.text {
    color: #ffffff;
    margin-top: -10px;
    margin-left: 5px;
    font-size: 2em;
    text-align: left;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 1;
}
@media screen and (max-width: 1024px) {
    .wrapper {
      width: 50vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
}
.container {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
}
