<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source Sans Pro:wght@700&display=swap"
  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/logo@2x.ico">
    <link rel="stylesheet" href="/style/preloader.css">
    <title>DETECTRON</title>
    <link rel="stylesheet" href="/style/select.css">
</head>
<body>
    <div class="container">
        <div class="ask">
            <h2>Login If You Are</h2>
        </div>
        <div class="login">
            <div class="authority">
                <h2>Authority</h2>
                <a href="login.html">Login with your government credentials</a>
            </div>
            <h2>OR</h2>
            <div class="citizen">
                <h2>Citizen?</h2>
                <a href="citizen.html">Report or track your FIR here</a>
            </div>
        </div>
    </div>
</body>
</html>